:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-clr: hsl(0, 0%, 100%, 1);
  --title-txt-clr: hsl(0, 0%, 0%, 0.6);
  --input-bg-clr: hsl(0, 0%, 96%, 1);
  --pleaceholder-txt-clr: hsl(0, 0%, 73%, 1);
  --normal-txt-clr: hsl(0, 0%, 38%, 1);
  --crossed-txt-clr: hsl(0, 0%, 73%, 1);
  --input-stroke-clr: hsl(0, 0%, 0%, 0.15);
  --checbox-clr: hsl(0, 0%, 100%, 1);
  --checbox-selected-clr: hsl(133, 59%, 59%);
  --checkbox-default-clr: hsl(0, 0%, 88%);
  --list-item-border-clr: hsl(0, 0%, 88%);

  --list-item-fs: 1.25rem;
  --button-fs: 1.25rem;
}
* {
  padding: 0;
  margin: 0;
}

/* Utility Classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.container {
  --max-width: 650px;
  --horizontal-padding: 1rem;

  width: min(var(--max-width), calc(100% - (var(--horizontal-padding) * 2)));
  margin-inline: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
